In [1]:
import pandas as pd
import numpy as np

In [3]:
df1 = pd.read_csv("Boder_indexs_1_subjects_situations.csv")
df2 = pd.read_csv("Boder_indexs_2_geographical_ethic.csv")
df3 = pd.read_csv("Boder_indexs_3_persons_organizations.csv")

In [4]:
df1

,word,note,num
0,Accidents,['(see also industrial accidents)'],"[341, 2961, 3057, 3067]"
1,Accusations,['false'],"[1139, 2954]"
2,“Actions”,['see raids'],NaN
3,Actors,NaN,[1168]
4,Adolescents,NaN,[327]
5,Affidavits,['for immigration'],"[131, 180]"
6,Agronomists,NaN,[3035]
7,Agudah,NaN,"[192, 203, 486, 1987, 2682, 2689, 2711, 2734]"
8,Air Pollution,NaN,"[46, 477, 2265, 2606, 2711]"
9,Air raids,NaN,"[173, 268, 304, 411, 476, 528, 565, 878, 958, ..."
10,Anesthetics,['(see also medical care)'],[307]
11,Anschluss,['Austrian'],[1138]
12,Anti-Semitism,NaN,"[233, 283]"
13,Appells,['(roll calls in camps)'],"[70, 88, 101, 126, 164, 262, 296, 343, 385, 39..."
14,Armies,['(indexed by nationalities) (see also militar...,NaN
15,Armies,['allied'],"[177, 269]"
16,Architects,['1137 Artists'],"[1168, 2962]"
17,“Aryans” & “Aryan” papers,['(see also passports)'],"[210, 274, 527, 588, 833, 997, 1055, 1069, 138..."
18,Assembly,"['(in town squares', 'see also appells', 'raid...","[48, 139, 312, 500, 2539]"
19,Asylum,['(see also succor)'],"[255, 587]"
20,Basow,['industry'],[89]
21,Bathing,['(see also hygiene)'],"[72, 95, 156, 169, 267, 291, 392, 538, 610, 84..."
22,Berig,"['Christian', '(textile plant)']",[472]
23,Bible,['explorers of'],[909]
24,Blackmail,['(see bribery)'],NaN
25,Black Market,NaN,"[8, 107, 120, 551, 685, 721, 776, 812, 1089, 1..."
26,B’nai B’rith Lodge,NaN,[1138]
27,Bolsheviks,['(see also communists)'],[642]
28,Books,['use and forbiddance of'],"[380, 1157, 1594, 1878, 2583]"
29,Brawls,"['(including death during) 47', '12S']","[103, 300, 477, 1230, 1597, 1722, 2300, 2974]"
...,...,...,...
288,Transit camps,NaN,"[42, 66, 284, 330]"
289,Transports,"['(see deportation', 'evacuation', 'travel)']",NaN
290,Travel,"['by foot', 'trains', 'etc.; death during', 'r...","[22, 55, 65, 123, 146, 152, 173, 211, 286, 299..."
291,Trusties,"['(capos', 'shupos)']","[75, 538, 944, 1384, 1425, 2356, 2407]"
292,Turncoats,NaN,[660]
293,Underground,"['(see also Maquis', 'partisans', 'resistance)']","[740, 909, 2784]"
294,UNRRA,['including post-war shelters'],"[194, 195, 246, 278, 311, 450, 483, 571, 828, ..."
295,UNRRA University,NaN,"[828, 2950, 2965, 3041]"
296,Uprisings,['(see also rebellions)'],"[2129, 2257]"
297,Urine,['alleged drinking of'],"[1109, 2270, 2608]"
298,U.S. Armies,NaN,"[684, 715, 1107, 2221, 2412, 2455, 2520, 2567,..."
299,Utilization of corpses,NaN,[1260]
300,Vaad Hatzala,NaN,"[198, 236, 2026, 2863]"
301,Vermin,['(see also lice)'],"[551, 613, 705, 856, 918, 1164, 1539, 2203, 22..."
302,Vida,['(prayer in anticipation of death)'],"[254, 1759]"
303,Wamdering,['post-war'],"[185, 2454, 2668, 2688, 2962, 3075]"
304,Washing,['(see also bathing)'],"[88, 271, 303, 335, 355, 404, 874, 1441, 1539,..."
305,Water,"['drinking', '(see also bathing', 'thirst', 'u...","[303, 332, 382, 439, 549, 1164, 1268, 1517, 15..."
306,Weapons,NaN,"[322, 343, 464, 2257, 2433]"
307,Weather,"['(see also appells', 'clothing', 'death', 'de...","[7, 53, 67, 81, 106, 125, 166, 298, 343, 381, ..."
308,Wehrmacht,NaN,"[548, 1083, 1213, 1562, 1875, 2541, 2955]"
309,Wills,['(bequests)'],[3097]
310,Work,"['compulsory', 'conditions', 'excessive', 'pac...","[6, 7, 21, 34, 13, 89, 106, 121, 138, 162, 210..."
311,X-Rays,NaN,[543]
312,“Yellow Labor”,NaN,[851]
313,Yellow star,"['insignia', 'or patch', '(see also tattoos)']","[27, 82, 255, 285, 346, 490, 527, 541, 682, 85..."
314,Yeshivas,NaN,"[131, 199, 203, 237, 2683, 2696]"
315,Yom Kippur,NaN,"[220, 1133, 1756, 1797, 2633]"
316,Zionists,['(also Zionism)'],"[2688, 3081]"
317,Z.P.B.,['(Jewish fighters’ organization)'],[2257]

In [5]:
df2

,word,note,num
0,Allerich,['(?)'],[1107]
1,Alma - Ata,"['(formerly Vernyi)', 'misspelled Almata']",[214]
2,Altengrube,NaN,[1083]
3,Americans,NaN,"[553, 857, 1609, 1728, 2985, 3069, 3099]"
4,Ampfing,['(?)'],[305]
5,Andrychow,NaN,[370]
6,Antolowka,['(see Antonowka)'],NaN
7,Antonowka,NaN,[3011]
8,Antwerp,NaN,"[182, 456]"
9,Arabs,NaN,[1900]
10,Argentina,NaN,[2589]
11,Ariege Department,['France'],[457]
12,Aschaffenburg,NaN,[454]
13,Aschersleben,NaN,[2657]
14,Atlanta,['Georgia'],[313]
15,Augustow,['Poland'],[320]
16,Auschwitz,['(see also Buna)'],"[17, 26, 46, 53, 64, 73, 104, 117, 142, 159, 2..."
17,Austria,NaN,"[322, 459, 1137, 1501, 1983, 2455, 2564, 2960]"
18,Austrians,NaN,[1614]
19,Baden,NaN,[451]
20,Baku,NaN,[2672]
21,Baranovichi,NaN,[369]
22,Barash,['(?)'],[3074]
23,Barta,NaN,[81]
24,Barth,['Silesia'],"[478, 482]"
25,Basel,NaN,[1745]
26,Bavaria,NaN,"[2962, 3044]"
27,Bayreuth,NaN,[855]
28,Bedzin,"['(also Bendzin', 'Bendin)']","[130, 165, 155, 1744]"
29,Belgians,NaN,"[810, 3022]"
...,...,...,...
398,Vilna,NaN,"[204, 219, 229, 518, 669, 2568, 2667]"
399,Visnie,"['(?)', 'lager']",[2125]
400,Vistula River,NaN,[2550]
401,Walldurn,['lager'],[483]
402,Warsaw,NaN,"[12, 265, 833, 957, 1637, 1852, 1904, 2019, 22..."
403,Warta River,NaN,[3027]
404,Wartagau,NaN,[3027]
405,Weidenburg,"['lager', '(possibly Waldenburg)']",[382]
406,Weimar,NaN,"[821, 1611, 1838, 1855, 1941, 2410]"
407,Westphalia,NaN,[3029]
408,Wetzlar,NaN,[948]
409,Wieliczka,NaN,[2765]
410,Wiesbaden,NaN,"[245, 483]"
411,Wischau,['lager'],[372]
412,Wojslawice,NaN,[368]
413,Wolbrom,['(?)'],[49]
414,Wolfsberg,['lager'],[475]
415,Wolkenheim,['lager'],[2389]
416,Wroclaw,['(see Breslau)'],NaN
417,Wurzen,NaN,[3023]
418,Ynovo,['(?)'],[488]
419,Yurev,['(see Tartu)'],NaN
420,Yugoslavia,NaN,[2075]
421,Zagrumbia,['(?)'],"[104, 137]"
422,Zakopane,NaN,"[2791, 2822, 2849, 2861]"
423,Zaporozhe,NaN,[408]
424,Zlochev,NaN,[3005]
425,Zlotwina,['(?)'],[2926]
426,Zurich,NaN,[1406]
427,Zwartau,"['Bad', '(?)']",[483]

In [6]:
df3

,word,has_full,word_full,note,num
0,Altoff,1,NaN,['Herr'],"[2540, 2561]"
1,Anders,1,NaN,['General'],[2862]
2,Ansbacher,1,NaN,['Rabbi'],[453]
3,Augustine,1,NaN,['Bishop Metropolitan'],[670]
4,Bar,2,NaN,NaN,[215]
5,Baron,1,NaN,['Mr.Baruch'],[215]
6,Bassfreund,2,NaN,NaN,"[276, 277, 278, 279, 280, 281, 282, 283, 284, ..."
7,Battenschlager,1,NaN,['Herr'],[851]
8,Beck,2,NaN,['Dr. Leo'],[1167]
9,Bevin,1,NaN,['Ernest'],[2865]
10,Biebow,1,NaN,"['HanX', '(Bubow ?)']","[1290, 1416, 1810]"
11,Bielka,2,NaN,NaN,[469]
12,Binder,2,NaN,NaN,"[1034, 1035, 1036, 1037, 1038, 1039, 1040, 104..."
13,Birnbaum,1,NaN,['Goldie'],[2589]
14,Biro,1,NaN,['Ludwig'],[479]
15,Bisenhaus,2,NaN,NaN,"[865, 866, 867, 868, 869, 870, 871, 872, 873, ..."
16,Bloch Rabbi Meyer,2,NaN,NaN,[238]
17,Bloch Naomi,2,NaN,NaN,[239]
18,Bloch Pierre,2,NaN,NaN,[746]
19,Bloch Rabbi,2,NaN,['(Telsh Yeshiva)'],[204]
20,Bock,1,NaN,['(Guard)'],[2623]
21,Bodeman,1,NaN,['Dr. SS'],[2054]
22,Bramson Jacques,2,NaN,NaN,"[732, 733, 734, 735, 736, 737, 738, 739, 740, ..."
23,Bramson Leonty Moiseievich,2,NaN,NaN,[733]
24,Brandt,1,NaN,['Herr'],[975]
25,Braun Anna,2,NaN,NaN,"[691, 692, 693, 694, 695, 696, 697, 698, 699, ..."
26,Braun Julius,2,NaN,['(see Kluever)'],NaN
27,Brenner,2,NaN,['(German commandant of Draney)'],[600]
28,Brigida,2,NaN,['(an SS woman)'],[2713]
29,Bruger,1,NaN,['Marianne'],[340]
...,...,...,...,...,...
253,Tcharnobroda,2,NaN,NaN,"[827, 828, 829, 830, 831, 832, 833, 834, 835, ..."
254,Thompson,1,NaN,"['John H.', '(Jack)']",[246]
255,Tischauer,2,NaN,NaN,"[2043, 2044, 2045, 2046, 2047, 2048, 2049, 205..."
256,Tshernetsky,1,NaN,['Udel'],[162]
257,Tuka,1,NaN,['Totetch'],[2045]
258,Unikowski,2,NaN,NaN,"[1784, 1785, 1786, 1787, 1788, 1789, 1790, 179..."
259,Vlasov,2,NaN,['General'],[513]
260,Vogel,2,NaN,['(capo in Buchenwald)'],[1857]
261,Warsager,2,NaN,NaN,"[1850, 1851, 1852, 1853, 1854, 1855, 1856, 185..."
262,Wasserman Rabbi,2,NaN,NaN,[492]
263,Wasserman Chaykele,2,NaN,NaN,[2650]
264,Weigel,1,NaN,['Herr'],[473]
265,Weinberg,2,NaN,NaN,"[1279, 1280, 1281, 1282, 1283, 1284, 1285, 128..."
266,Wiener,1,NaN,['Fischel'],[478]
267,Wilczyk,2,NaN,NaN,[2549]
268,Wilf,2,NaN,NaN,"[1473, 1474, 1475, 1476, 1477, 1478, 1479, 148..."
269,Wolf,2,NaN,['(U.S. Clergyman)'],[2983]
270,Wolf Isaac,2,NaN,NaN,"[2423, 2424, 2425, 2426, 2427, 2428, 2429, 243..."
271,Wolovitch Charles,2,NaN,NaN,[353]
272,Wolovitch Jake,2,NaN,NaN,[353]
273,Zagalski,1,NaN,['Chaim'],[252]
274,Zalkind,1,NaN,['Mr.'],[228]
275,Zaretski,1,NaN,['Mr.'],[191]
276,Zehngut,1,NaN,['Herr'],[473]
277,Zeligman,1,NaN,['Meyer'],[215]
278,Zeres,1,NaN,['Herr'],[1750]
279,Zgnilek,2,NaN,NaN,"[2471, 2472, 2473, 2474, 2475, 2476, 2477, 247..."
280,Zierer,2,NaN,NaN,"[2830, 2831, 2832, 2833, 2834, 2835, 2836, 283..."
281,Zinnenbaum,1,NaN,['Molly'],[625]
282,Zomack,1,NaN,['Bruno'],[2980]

In [37]:
# exclue nans num
df1 = df1[pd.notnull(df1['num'])]
df2 = df2[pd.notnull(df2['num'])]
df3 = df3[pd.notnull(df3['num'])]

In [7]:
# check data type in the lists
df1.num[0][0] # should change to list of intergers

'['

In [19]:
import ast

In [23]:
x = u'[11,22,33,44]'

In [29]:
x = '[11,22,33,44]'.lstrip('u')

In [30]:
x = ast.literal_eval(x)

In [31]:
x

[11, 22, 33, 44]

In [26]:
x[0]

11

In [27]:
type(x[0])

int

In [39]:
# change num to lists of intergers
df1.num = df1.num.apply(lambda x: ast.literal_eval(x.lstrip('u')))
df2.num = df2.num.apply(lambda x: ast.literal_eval(x.lstrip('u')))
df3.num = df3.num.apply(lambda x: ast.literal_eval(x.lstrip('u')))

/Users/lizhoufan/anaconda3/lib/python3.6/site-packages/pandas/core/generic.py:3643: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[name] = value

In [41]:
df1

,word,note,num
0,Accidents,['(see also industrial accidents)'],"[341, 2961, 3057, 3067]"
1,Accusations,['false'],"[1139, 2954]"
3,Actors,NaN,[1168]
4,Adolescents,NaN,[327]
5,Affidavits,['for immigration'],"[131, 180]"
6,Agronomists,NaN,[3035]
7,Agudah,NaN,"[192, 203, 486, 1987, 2682, 2689, 2711, 2734]"
8,Air Pollution,NaN,"[46, 477, 2265, 2606, 2711]"
9,Air raids,NaN,"[173, 268, 304, 411, 476, 528, 565, 878, 958, ..."
10,Anesthetics,['(see also medical care)'],[307]
11,Anschluss,['Austrian'],[1138]
12,Anti-Semitism,NaN,"[233, 283]"
13,Appells,['(roll calls in camps)'],"[70, 88, 101, 126, 164, 262, 296, 343, 385, 39..."
15,Armies,['allied'],"[177, 269]"
16,Architects,['1137 Artists'],"[1168, 2962]"
17,“Aryans” & “Aryan” papers,['(see also passports)'],"[210, 274, 527, 588, 833, 997, 1055, 1069, 138..."
18,Assembly,"['(in town squares', 'see also appells', 'raid...","[48, 139, 312, 500, 2539]"
19,Asylum,['(see also succor)'],"[255, 587]"
20,Basow,['industry'],[89]
21,Bathing,['(see also hygiene)'],"[72, 95, 156, 169, 267, 291, 392, 538, 610, 84..."
22,Berig,"['Christian', '(textile plant)']",[472]
23,Bible,['explorers of'],[909]
25,Black Market,NaN,"[8, 107, 120, 551, 685, 721, 776, 812, 1089, 1..."
26,B’nai B’rith Lodge,NaN,[1138]
27,Bolsheviks,['(see also communists)'],[642]
28,Books,['use and forbiddance of'],"[380, 1157, 1594, 1878, 2583]"
29,Brawls,"['(including death during) 47', '12S']","[103, 300, 477, 1230, 1597, 1722, 2300, 2974]"
30,Bribery,['202S'],"[14, 57, 103, 345, 360, 965, 1094, 1659, 2922,..."
31,Broadcasts,['(foreign and others)'],"[531, 1673, 2007]"
32,Brothels,NaN,[939]
...,...,...,...
286,Tradate,NaN,"[524, 2256, 2424, 2475, 2629]"
288,Transit camps,NaN,"[42, 66, 284, 330]"
290,Travel,"['by foot', 'trains', 'etc.; death during', 'r...","[22, 55, 65, 123, 146, 152, 173, 211, 286, 299..."
291,Trusties,"['(capos', 'shupos)']","[75, 538, 944, 1384, 1425, 2356, 2407]"
292,Turncoats,NaN,[660]
293,Underground,"['(see also Maquis', 'partisans', 'resistance)']","[740, 909, 2784]"
294,UNRRA,['including post-war shelters'],"[194, 195, 246, 278, 311, 450, 483, 571, 828, ..."
295,UNRRA University,NaN,"[828, 2950, 2965, 3041]"
296,Uprisings,['(see also rebellions)'],"[2129, 2257]"
297,Urine,['alleged drinking of'],"[1109, 2270, 2608]"
298,U.S. Armies,NaN,"[684, 715, 1107, 2221, 2412, 2455, 2520, 2567,..."
299,Utilization of corpses,NaN,[1260]
300,Vaad Hatzala,NaN,"[198, 236, 2026, 2863]"
301,Vermin,['(see also lice)'],"[551, 613, 705, 856, 918, 1164, 1539, 2203, 22..."
302,Vida,['(prayer in anticipation of death)'],"[254, 1759]"
303,Wamdering,['post-war'],"[185, 2454, 2668, 2688, 2962, 3075]"
304,Washing,['(see also bathing)'],"[88, 271, 303, 335, 355, 404, 874, 1441, 1539,..."
305,Water,"['drinking', '(see also bathing', 'thirst', 'u...","[303, 332, 382, 439, 549, 1164, 1268, 1517, 15..."
306,Weapons,NaN,"[322, 343, 464, 2257, 2433]"
307,Weather,"['(see also appells', 'clothing', 'death', 'de...","[7, 53, 67, 81, 106, 125, 166, 298, 343, 381, ..."
308,Wehrmacht,NaN,"[548, 1083, 1213, 1562, 1875, 2541, 2955]"
309,Wills,['(bequests)'],[3097]
310,Work,"['compulsory', 'conditions', 'excessive', 'pac...","[6, 7, 21, 34, 13, 89, 106, 121, 138, 162, 210..."
311,X-Rays,NaN,[543]
312,“Yellow Labor”,NaN,[851]
313,Yellow star,"['insignia', 'or patch', '(see also tattoos)']","[27, 82, 255, 285, 346, 490, 527, 541, 682, 85..."
314,Yeshivas,NaN,"[131, 199, 203, 237, 2683, 2696]"
315,Yom Kippur,NaN,"[220, 1133, 1756, 1797, 2633]"
316,Zionists,['(also Zionism)'],"[2688, 3081]"
317,Z.P.B.,['(Jewish fighters’ organization)'],[2257]